.c1 {
  background-color: rgb(221, 220, 220);
  display: flex;
  flex-direction: column;
  position: relative;
}

.c2 {
  background-color: rgb(240, 128, 128);
  display: flex;
  flex-direction: column;
  position: relative;
}

.c3 {
  background-color: rgb(150, 143, 221);
  display: flex;
  flex-direction: column;
  position: relative;
}

.image {
  width: 9vw;
  margin: 30px;
}

.card {
  background-color: rgb(175, 174, 174);
  border-radius: 0.3rem;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover {
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.5);
}

.cards_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
